# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# FIREBASE CONFIGURATION (For Vercel / Netlify / Production Deployment)
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0863617803"
VITE_FIREBASE_APP_ID="1:807565901625:web:e463580f641098c0b0b2e8"
VITE_FIREBASE_API_KEY="AIzaSyCUybU8OxWpoydWZOeUbk5ZDiNBJJyOBNw"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0863617803.firebaseapp.com"
VITE_FIREBASE_DATABASE_ID="ai-studio-rancheirosbarcom-f9b53b6b-86c7-47cb-86bd-61b5e8a4141a"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0863617803.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="807565901625"
